* {
      line-height: 1.2;
      margin: 0;
    }

    html {
      color: #888;
      display: table;
      font-family: Helvetica, Arial, sans-serif;
      height: 100%;
      text-align: center;
      width: 100%;
    }

    body {
      display: table-cell;
      background-color: whitesmoke;
    }

    .list {
      width:100%;
      height: 100%;
    }

    .list-item {
      display: inline-block;
      width: 100%;
      margin: 2em auto;
    }

    h1 {
      //color: #555;
      color: black;
      font-family: sans-serif;
      font-size: 2em;
      font-weight: 400;
    }

    .headline {
      font-size: 6em;
      font-family: 'Krub', sans-serif;
      font-weight: bold;
      margin-bottom: 1em;
    }

    p {
      margin: 0 auto;
      width: 280px;
    }

    .social-link {
      padding: 0 1.5em;
    }

    .social-link a {
      text-decoration: none
    }

    @media only screen and (max-width: 450px) {

      body,
      p {
        width: 95%;
      }

      h1 {
        font-size: 1.5em;
        margin: 0 0 0.3em;
      }

      .headline {
        font-size: 2em;
      }

      .social-link {
        padding: 0.1em;
      }
    }